[user]
    name = MasatoraSakikoyama
    email = 
[alias]
    a = add
    b = branch
    c = commit
    co = checkout
    l = log
    m = merge
    pl = pull
    ps = push
    s = status
[core]
    editor = vim
